#cart-input{
	background: black;
	color: white;
	width: 100%;
	border: none;
	padding: 18px 12px;
	border-radius: 30px;

}
#cart-input:hover {
	background: rgba(0,0,0,0.7);
}

#summary_total{
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}
#summary_content div{
	margin-bottom: 2px;
	margin-top: 2px;
}


#productincart_item select {
	width: 43px;
	height: 28px;
	font-size: 14px;
	color: #AAAAAA;
	border: 1px solid #AAAAAA;
}
#productincart_item h5{
	color: #AAAAAA;
}

#productincart_item a:hover{
	color: black;
	text-decoration: underline;
}
#productincart_item{
	padding-bottom: 26px;
	padding-top: 26px;
	border-bottom: 1px solid #AAAAAA;
}